* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* apply styles to all */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #696969;
    background-color: #c0c0c0;
}

/* header styles */
header {
    padding: 20px 35px;
    background-color: #c0c0c0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li a {
    border-bottom: 2px solid;
    border-color: #696969;
    padding: 2px 30px;
}

header a {
    text-decoration: none;
    color: #696969;
}

.hero {
    background-image: url("../assets/images/Micah Ilbery_Holo_YEJkRw.jpg");
    background-size: auto;
    background-position: 8% 54%;
    background-attachment: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: #c0c0c0;
}

section {
    padding: 70px;
}

.section-flex {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.div-flex h2 {
    display: inline-flex;
    width: 150px;
    border-right: 2px solid;
    border-color: #696969;
    text-align: right;
    margin: 50px;
}

.p-flex {
    display: inline-flex;
    text-align: left;
 
}

.contact-flex ul {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
}

.contact-flex ul a {
    text-decoration: none;
    color: #696969;
    border-bottom: 2px solid;
    border-color: #696969;
    padding: 2px 30px;
    justify-content: flex-start;
}