* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* apply styles to all */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #696969;
    background-color: #c0c0c0;
}

/* header styles */
header {
    padding: 20px 35px;
    background-color: #c0c0c0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li a {
    border-bottom: 2px solid;
    border-color: #696969;
    padding: 2px 30px;
}

header a {
    text-decoration: none;
    color: #696969;
}

.hero {
    background-image: url("../assets/images/Micah Ilbery_Holo_YEJkRw.jpg");
    background-size: 90%;
    background-position: -70% 54%;
    background-attachment: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: #c0c0c0;
}

section {
    padding: 70px;
}

.section-flex {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.div-flex h2 {
    display: inline-flex;
    width: 150px;
    border-right: 2px solid;
    border-color: #696969;
    text-align: right;
    margin: 50px;
}

.p-flex {
    display: inline-flex;
    text-align: left;
 
}

.contact-flex ul {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
}

.contact-flex ul a {
    text-decoration: none;
    color: #696969;
    border-bottom: 2px solid;
    border-color: #696969;
    padding: 2px 30px;
    justify-content: flex-start;
}

.work-grid-wrapper {
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
}

.work-grid-container {
    width: 83%;
    display: grid;
    grid-gap: 10px;
    /* repeat(iterator, size) */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: 1.2rem;
}

.work-grid-item {
    padding: 15px 0;
    border: 2px solid #696969;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* specific match */
.grid-item-run-buddy {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    border: 2px solid #696969;
    color: #696969;
}

.grid-item-placeholder-1 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    border: 2px solid #696969;
    color: #696969;
}

.grid-item-placeholder-2 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    border: 2px solid #696969;
    color: #696969;
}

.grid-item-placeholder-3 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    border: 2px solid #696969;
    color: #696969;
}

.grid-item-placeholder-4 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    border: 2px solid #696969;
    color: #696969;
}